.navbar_container{
    position: absolute;
    width: 1440px;
    height: 56px;
    left: 0px;
    top: 0px;
    background: #811434;
}
.navbar_title{
    position: absolute;
    left: 1.67%;
    right: 88.98%;
    top: 23.14%;
    bottom: 32.14%;
    color:white;
    font-size: 22px;
}