.navbar_container{
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 0px;
    background: #811434;
}
.navbar_title{
    position: absolute;
    left: 1.67%;
    right: 88.98%;
    top: 23.14%;
    bottom: 32.14%;
    color:white;
    font-size: 22px;
}
.search{
    position: absolute;
    left: 19.79%;
    right: 55.62%;
    top: 21.43%;
    bottom: 21.43%;
    background: #FFFFFF;
    border-radius: 4px;
}
.bellimage{
    height:25px;
    width:25px;
    position: absolute;
    left: 82.71%;
    right: 15.62%;
    top: 28.57%;
    bottom: 28.57%;
    cursor: pointer;
    color:white
}
.userData{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 160px;
    right: 31.5px;
    top: 21.43%;
    bottom: 21.43%;
}
.userData>img{
    height:30px;
    width:30px;
    border-radius:50%;
}
.userData>p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:white;
    margin-top:15px
}
.userData>p:last-child{
    position:absolute;
    left:100%;
    top:-2px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 20px;
}